<a href="https://colab.research.google.com/github/huesofenigma/DS4A_energy/blob/main/ds4a_feature%E2%81%A0%E2%81%A0_engineering_isabella.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### DS4A Feature Engineering

> This is Isabella's notebook.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
# Set up google drive mount for this notebook, and create global variables for relevant data paths.

from google.colab import drive
drive.mount('/content/drive')

data_path = "/content/drive/My Drive/DS4A/data"

Mounted at /content/drive

In [3]:
# Read in sample data as a dataframe
# Feel free to comment out datasets that you don't need
GDP_1960_2021 = pd.read_csv(data_path +"/GDP 1960-2021.csv",skiprows = 4)
population_1960_2021 = pd.read_csv(data_path + "/Population 1960-2021.csv", skiprows = 4)

In [4]:
emdat = pd.read_excel(data_path + "/emdat_public_2022_07_11_query_uid-ChyDFd.xlsx", skiprows=6)

In [5]:
co2_emissions = pd.read_csv(data_path + "/Data from World Bank/API_EN.ATM.CO2E.PC_DS2_en_csv_v2_4251354.csv", skiprows=4)

In [6]:
renew_output = pd.read_csv(data_path + "/Data from World Bank/API_EG.ELC.RNEW.ZS_DS2_en_csv_v2_4260392.csv", skiprows=4)

In [7]:
renew_fec = pd.read_csv(data_path + "/Data from World Bank/API_EG.FEC.RNEW.ZS_DS2_en_csv_v2_4251598.csv", skiprows=4)

In [8]:
clean_fuels = pd.read_csv(data_path + "/Data from World Bank/API_EG.CFT.ACCS.UR.ZS_DS2_en_csv_v2_4266594.csv", skiprows=4)

In [ ]:
class cleaned_data_country:
  def __init__(self):
    self.data = None
    self.features = []
  
  def clean(self, data, feature_name):
    nan_threshold = int(data.shape[0] * 0.9) # 90% of the values in a column should be non-Nan
    temp = data.dropna(axis=1, how='all', thresh=nan_threshold).set_index('Country Code')
    temp = temp.drop(['Country Name', 'Indicator Name', 'Indicator Code'], axis=1)
    for i in temp.columns:
      temp = temp.rename(columns={i: i + f'_{feature_name}'})
    return temp
  
  def add(self, data, feature_name):
    if self.data is None:
      self.data = self.clean(data, feature_name)
    else:
      to_add = self.clean(data, feature_name)
      self.data = pd.concat([self.data, to_add], axis=1)
    self.features.append(feature_name)

In [ ]:
test = cleaned_data_country()
test.add(co2_emissions, 'co2_emissions')

In [ ]:
test.add(renew_output, 'renew_output')

In [ ]:
test.add(renew_fec, 'renew_consumption')

In [ ]:
test.data

,2002_co2_emissions,2003_co2_emissions,2004_co2_emissions,2005_co2_emissions,2006_co2_emissions,2007_co2_emissions,2008_co2_emissions,2009_co2_emissions,2010_co2_emissions,2011_co2_emissions,...,2006_renew_consumption,2007_renew_consumption,2008_renew_consumption,2009_renew_consumption,2010_renew_consumption,2011_renew_consumption,2012_renew_consumption,2013_renew_consumption,2014_renew_consumption,2015_renew_consumption
Country Code,,,,,,,,,,,,,,,,,,,,,
ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.190000,0.190000,0.190000,0.300000,5.460000,5.660000,6.860000,6.890000,6.930000,6.730000
AFE,0.964187,0.991013,1.036161,1.011151,0.999696,1.016758,1.057285,0.994719,1.021548,0.979352,...,62.301471,61.502533,61.977019,61.321536,62.747757,62.573145,61.081094,60.378305,60.712292,61.106397
AFG,0.045574,0.051518,0.041655,0.060419,0.066583,0.065312,0.128417,0.171862,0.243614,0.296506,...,31.890000,28.780000,21.170000,16.530000,15.150000,12.610000,15.360000,16.860000,18.930000,17.530000
AFW,0.502621,0.521609,0.507780,0.508247,0.474162,0.441870,0.456156,0.430200,0.472077,0.476789,...,81.889031,82.155370,81.527372,82.566329,80.926348,79.508850,79.017981,77.445937,76.190412,76.752857
AGO,0.895578,0.924869,0.930263,0.813539,0.821840,0.811754,0.888658,0.939404,0.976184,0.985522,...,62.130000,58.490000,54.880000,52.410000,52.510000,51.060000,49.470000,47.950000,48.230000,47.840000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,22.130000,21.180000,20.560000,20.850000,20.820000,19.750000,20.890000,20.930000,21.380000,20.370000
YEM,0.872385,0.984988,1.004601,1.049861,1.059569,1.093386,1.106333,1.180025,1.098258,0.963978,...,0.760000,0.760000,0.740000,0.700000,0.780000,0.930000,1.080000,0.760000,0.760000,1.960000
ZAF,7.179056,7.557706,8.035040,7.887329,7.832423,8.083508,8.572610,8.007606,8.304084,7.869816,...,10.740000,10.360000,11.550000,10.970000,11.770000,11.360000,10.600000,9.770000,9.850000,10.280000
ZMB,0.174996,0.184778,0.182674,0.193147,0.179077,0.158363,0.170448,0.188420,0.195502,0.217497,...,89.430000,90.320000,89.360000,88.680000,88.590000,87.280000,84.630000,84.560000,83.770000,83.090000
ZWE,1.044813,0.849592,0.812818,0.870271,0.808688,0.796350,0.613916,0.618665,0.756041,0.884886,...,78.590000,77.970000,81.860000,82.090000,82.270000,79.270000,77.500000,78.870000,80.270000,80.820000

In [9]:
class cleaned_data_country_year:
  def __init__(self):
    self.data = None
    self.features = []
  
  def clean(self, data, feature_name):
    nan_threshold = int(data.shape[0] * 0.8) # 80% of the values in a column should be non-Nan
    temp = data.dropna(axis=1, how='all', thresh=nan_threshold)
    value_vars = temp.columns.drop(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'])
    temp = pd.melt(temp, id_vars = ['Country Name'], value_vars = value_vars)
    temp = temp.rename(columns={'value': feature_name})
    temp = temp.set_index(['Country Name', 'variable'])
    return temp
  
  def add(self, data, feature_name):
    if self.data is None:
      self.data = self.clean(data, feature_name)
    else:
      to_add = self.clean(data, feature_name)
      self.data = pd.concat([self.data, to_add], axis=1)
    self.features.append(feature_name)

In [10]:
test2 = cleaned_data_country_year()
test2.add(renew_output, 'renew_output')

In [11]:
test2.add(renew_fec, 'renew_consumption')

In [12]:
test2.add(co2_emissions, 'co2_emissions')

In [14]:
test2.data.loc['China', :]

          renew_output  renew_consumption  co2_emissions
variable
1990         20.407940          34.083614       1.914543
1991         18.471131          33.258474       2.000539
1992         17.584684          32.931278       2.075744
1993         18.125260          31.677792       2.244841
1994         18.088436          31.249484       2.322192
1995         19.214139          29.472111       2.563479
1996         17.552211          30.537175       2.521876
1997         17.512466          30.183482       2.547902
1998         18.061156          29.739901       2.605837
1999         16.681466          30.506049       2.517420
2000         16.639498          29.630000       2.650412
2001         18.958519          28.360000       2.774761
2002         17.618628          27.000000       2.975680
2003         15.037040          23.860000       3.427437
2004         16.223266          20.170000       3.954107
2005         16.175025          17.440000       4.467700
2006         15.592783          16.390000       4.910276
2007         15.263347          14.880000       5.306366
2008         17.737444          14.140000       5.435076
2009         17.863798          13.430000       5.798319
2010         18.622826          12.260000       6.335418
2011         16.761770          11.340000       6.901344
2012         19.966249          11.530000       7.046183
2013         20.296227          11.450000       7.324147
2014         22.609154          11.940000       7.294236
2015         23.926817          12.180000       7.146449
2016               NaN          12.560000       7.115385
2017               NaN          13.130000       7.230985
2018               NaN          13.710000       7.487332
2019               NaN          14.450000       7.605937

In [15]:
test2.data

                       renew_output  renew_consumption  co2_emissions
Country Name variable
Afghanistan  1990         67.730496          15.924532       0.191745
             1991         67.980296          17.036444       0.167682
             1992         67.994310          26.521629       0.095958
             1993         68.345324          30.585667       0.084721
             1994         68.704512          32.796251       0.075546
...                             ...                ...            ...
Zimbabwe     2015         52.724276          80.820000       0.899770
             2016               NaN          81.900000       0.785441
             2017               NaN          82.460000       0.726297
             2018               NaN          80.230000       0.857411
             2019               NaN          81.500000       0.802979

[7980 rows x 3 columns]

In [16]:
test2.add(clean_fuels, 'access_clean_fuels')

In [18]:
test2.data.loc['Zimbabwe', :]

          renew_output  renew_consumption  co2_emissions  access_clean_fuels
variable
1990         46.667379          63.976409       1.585444                 NaN
1991         35.320484          63.740781       1.713321                 NaN
1992         38.375622          64.368292       1.694416                 NaN
1993         27.611141          64.417752       1.539741                 NaN
1994         27.803583          68.527206       1.417186                 NaN
1995         29.253617          67.062264       1.356619                 NaN
1996         29.537075          66.738328       1.287559                 NaN
1997         29.090162          67.385820       1.186793                 NaN
1998         29.257178          67.838803       1.197745                 NaN
1999         41.009731          64.412536       1.338101                 NaN
2000         45.661187          69.260000       1.153055               87.60
2001         37.503162          71.530000       1.165725               86.80
2002         44.357750          74.300000       1.044813               86.20
2003         60.734174          77.830000       0.849592               85.40
2004         56.600473          81.580000       0.812818               84.90
2005         52.432259          80.150000       0.870271               84.10
2006         67.883120          78.590000       0.808688               83.40
2007         71.573137          77.970000       0.796350               82.70
2008         75.895082          81.860000       0.613916               82.10
2009         75.641201          82.090000       0.618665               81.90
2010         68.009233          82.270000       0.756041               81.30
2011         57.855903          79.270000       0.884886               80.75
2012         60.393350          77.500000       0.915735               80.30
2013         53.939394          78.870000       0.919824               80.30
2014         55.605426          80.270000       0.889104               79.70
2015         52.724276          80.820000       0.899770               79.60
2016               NaN          81.900000       0.785441               79.30
2017               NaN          82.460000       0.726297               79.30
2018               NaN          80.230000       0.857411               79.10
2019               NaN          81.500000       0.802979               79.10
2020               NaN                NaN            NaN               78.60

In [19]:
cleaned_df = test2.data.to_csv(data_path + "/Cleaned_feature_data/renewable_energy_and_access_data_output.csv")

#**FAQ**

###Why does my new feature column contain only NaNs when I know that there were many recorded measurements in the dataset?
You may need to adjust the nan_threshold value. If no column has more than 80% non_NaN values (i.e. each is at least 20% NaN's), the to_add df will be empty (since it drops all years/columns that don't meet the threshold). This results in an empty feature column after concatenation, hence only NaN's.